/* .pdfViewerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: auto;
} */

.pageContainer {
  width: 100%;
  display: flex;
  overflow: auto;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f1eaff;
  margin-top: 1rem;
}

.singlePage {
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .singlePage {
    margin: 0.5rem 0;
    padding: 1rem;
  }
}
